.colibreat-datepicker {
  width: 100%;
  min-height: 250px;
  background-color: #ddd;
   background-image: linear-gradient(#FFFFFF, #E5E5E5);
  border: 1px solid #dedede;
  -moz-box-shadow: inset 0px 0px 10px 0px #FFFFFF;
  -webkit-box-shadow: inset 0px 0px 10px 0px #FFFFFF;
  -o-box-shadow: inset 0px 0px 10px 0px #FFFFFF;
  box-shadow: inset 0px 0px 10px 0px #FFFFFF;
  z-index: 100;
}

.colibreat-datepicker .navigation {
  padding: 9px;
}

.colibreat-datepicker .navigation select.month, .colibreat-datepicker .navigation select.year {
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
  border: 1px solid #dedede;
}
.colibreat-datepicker .navigation select.month {
  border-right: 0;
  border-radius: 3px 0 0 3px;
}

.colibreat-datepicker .navigation select.year {
  border-left: 0;
  border-radius: 0 3px 3px 0;
}

.colibreat-datepicker .datepicker {
  padding: 9px;
}

.colibreat-datepicker .today {
  padding: 0 9px 9px 9px;
}

.colibreat-datepicker .datepicker table {
  width: 100%;
  table-layout: fixed;
}

.colibreat-datepicker .datepicker table tr {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.colibreat-datepicker .datepicker table tr th {
  font-size: 12px;
  color: #888;
  text-align: center;
  padding-bottom: 5px;
}

.colibreat-datepicker .datepicker table tr td:not(.hidden) {
  border: 1px solid #eee;
  text-align: right;
  background-color: #FFFFFF;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.7s;
}

.colibreat-datepicker .datepicker table tr td.active {
  background-color: rgb(217, 77, 17);
  color: #FFFFFF;
  border: 1px solid rgb(189, 67, 15);
}

.colibreat-datepicker .datepicker table tr td:hover {
  background-color: rgb(217, 77, 17);
  color: #FFFFFF;
  border: 1px solid rgb(189, 67, 15);
}

.colibreat-datepicker .datepicker table tr td.hidden {
  border: 0;
  background-color: inherit;
}

.colibreat-datepicker .datepicker table tr td.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  color: #888;
}

.colibreat-datepicker .datepicker table tr td.disabled:hover {
  background-color: transparent;
}